{{ define "main" }}
    <main aria-role="main">
        <div id="spotlight" class="error-404 animated fadeIn">
            <p class="img-404">
                {{ partial "fa.html" (dict "prefix" "fas" "icon" "meteor" "size" "fa-3x") }}
            </p>
            <div class="banner-404">
                <h1>404</h1>
                <p>{{ i18n "notFound" }}</p>
                <p class="btn-404">
                    <a href="{{.Site.BaseURL}}" style="text-decoration: none;"> {{ partial "fa.html" (dict "prefix" "fas" "icon" "terminal") }} {{ i18n "home" }}</a>
                </p>
            </div>
        </div>
    </main>
{{ end }}
